/* .image-container {
    height: 5.6rem;
    width: 5.6rem;
} */


.cart{
    background-color: #E9F5E1;
}
.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

