.filter-section-desktop{
    background-color: #ffffff;
    width:100%;
    border-radius: 4px;
    margin: 0.5rem;
   
    
}
.filter-section-mobile{
    background-color: #ffffff;
    height: "300px";
    overflow: auto;
}

/* .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 100%;
} */


.filter-body{
    padding: 22px;
    font-family: "Lato";

  
 
}

.check-box{
   padding-bottom: 0px;
   padding-top: 0px;
}



