.filterBackground{
    background-color: #949494;
    padding-left: 16px;
    padding-top: 16px;


    position: sticky;
    top: 5vh;
    height: 100vh;
   
    overflow-y: auto
    
   
}

@media screen and (max-width: 600px) {
    .filter_container{
        display: none;
    }

  
}







.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}


.filter_icon{
  
    cursor: pointer;
}


